<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles4.css">  <!--Link to style sheet-->
    <link rel="shortcut icon" href="/images/mogantosh.ico">                     <!--icon-->
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39440447-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments) };
        gtag('js', new Date());
        gtag('config', 'UA-39440447-1');
    </script>

    <!--<script>

        document.addEventListener('div-mainbar', handleTouchStart, false);
        document.addEventListener('touchmove', handleTouchMove, false);

        var xDown = null;
        var yDown = null;

        function handleTouchStart(evt) {
            xDown = evt.touches[0].clientX;
            yDown = evt.touches[0].clientY;
        };



        function handleTouchMove(evt) {
            if (!xDown || !yDown) {
                return;
            }

            var xUp = evt.touches[0].clientX;
            var yUp = evt.touches[0].clientY;

            var xDiff = xDown - xUp;
            var yDiff = yDown - yUp;

            if (Math.abs(xDiff) > Math.abs(yDiff)) {/*most significant*/
                if (xDiff > 0) {
                    alert("hello left swipe");
                    /* left swipe */
                } else {
                    /* right swipe */
                }
            } else {
                if (yDiff > 0) {
                    /* up swipe */
                } else {
                    /* down swipe */
                }
            }
            /* reset values */
            xDown = null;
            yDown = null;
        };
    </script>-->


</head>

<body>
    <div class="topbar"><div><a href="http://eepurl.com/deGKaH" title="Click here to subscribe to the Mogantosh mailing list.">Subscribe to Mogantosh</a></div></div>
    <div class="midbar"></div>
    <div class="content">
        <div class="sidebar">
            <a href="/" title="Mogantosh homepage" class="imageAnchor"><img src="/images/sidebar/mogantosh.png" /></a>
            <img class="bigscreens" src="/images/sidebar/rach.png" />
            <div class="postlist bigscreens">
                <p><b>10 recent posts:</b></p>
                {% for post in site.posts limit:10 %}
                <p><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></p>
                {% endfor %}
                <br />
                <p><a href="/posts-by-year.html">Earlier posts</a></p>
            </div>
        </div>
        <div class="mainbar" id="div-mainbar">
            <div class="post">
                {{ content }}
            </div>
            <div class="previousnext">
                <p>{% if page.previous.url %}&laquo; <a href="{{page.previous.url}}">{{page.previous.title}}</a>{% endif %}</p>
                <p>{% if page.next.url %}<a href="{{page.next.url}}">{{page.next.title}}</a> &raquo;{% endif %}</p>
            </div>
            <div class="post extra">
                <p>No comments possible on this new blog yet, but visit me at <a href="https://www.instagram.com/mogantosh/">Instagram</a> or <a href="https://www.facebook.com/mogantosh/">Facebook</a> if you want to send a message.</p>
            </div>
            <div class="postlist smallscreens">
                <p><b>10 recent posts:</b></p>
                {% for post in site.posts limit:10 %}
                <p><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></p>
                {% endfor %}
                <br />
                <p><a href="/posts-by-year.html">Earlier posts</a></p>
            </div>
        </div>
    </div>
</body>
</html>
