<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>			
			<link rel="stylesheet" type="text/css" href="/styles/styles2.css">  <!--Link to style sheet-->
            <link rel="shortcut icon" href="mogantosh.ico">                     <!--icon-->

            <!-- Global Site Tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39440447-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments)};
                gtag('js', new Date());
                gtag('config', 'UA-39440447-1');
            </script>
		</head>

    <body>
        <div class="topbar"><div><a href="http://eepurl.com/deGKaH" title="Click here to subscribe to the Mogantosh mailing list.">Subscribe to Mogantosh</a></div></div>
        <div class="midbar"></div>
        <div class="content">
            <div class="sidebar">
                <img src="/images/sidebar/mogantosh.png" />
                <img src="/images/sidebar/rach.png" />
                <a href="/cv">CV - example link</a>

                <ul>
                    {% for post in site.posts %}
                    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="mainbar">
                <div class="post">
                    {{ content }}                    
                </div>
            </div>
        </div>                                       
    </body>
	</html>
